<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Basic Clean Swift module template.</string>
	<key>Summary</key>
	<string>Clean Swift</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>Image</key>
	<dict>
		<key>FileTypeIcon</key>
		<string>swift</string>
	</dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>Platforms</key>
	<array/>
	<key>DefaultCompletionName</key>
	<string>SwiftModule</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___</string>
	<key>Template Author</key>
	<string>Jose Leonardo Lima Correa</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Name of module that you need create</string>
			<key>Default</key>
			<string></string>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Name</key>
			<string>Module name</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
